@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
a,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
html {
    height: 100%;
    font-size: 100%;
}
body {
    position: relative;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Helvetica, Arial, sans-serif;
    word-break: break-all;
    -webkit-text-size-adjust: 100%;
    color: #444;
    font-size: 80%;
    height: 100%;
}
a {
    text-decoration: none;
}
blockquote,
q {
    quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
    content: '';
    content: none;
}
input,
textarea {
    margin: 0;
    padding: 0;
}
input,
select {
    vertical-align: middle;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,
th {
    text-align: left;
}
header {
    display: block;
}
img {
    vertical-align: bottom;
}
.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}



/* ━━━ */

.content {
  padding: 20px 20px 0;
}

.h1 {
  margin-bottom: 15px;
}

.h2 {
  margin-bottom: 15px;
}

.h3 {
  margin-bottom: 7px;
}

.button > button {
  margin-bottom: 25px;
  padding: 10px;
}









